#root {
  width: 90%;
  margin: 0 auto;
}

#content {
  position: absolute;
  width: 60%;
  left: 20px;
}

#sidebar {
  position: fixed;
  right: 20px;
  height: 75%;
  width: 30%;
}

#search-terms {
  width: 100%;
}

#btn-start {
  margin: 10px 0px;
}
